repos:
      - repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.3.0
        hooks:
              - id: trailing-whitespace
              - id: end-of-file-fixer
      - repo: https://github.com/pycqa/isort
        rev: 5.12.0
        hooks:
              - id: isort
      - repo: https://github.com/ambv/black
        rev: 22.3.0
        hooks:
              - id: black
      - repo: https://github.com/PyCQA/flake8
        rev: 7.1.1
        hooks:
              - id: flake8
      - repo: https://github.com/codespell-project/codespell
        rev: v2.1.0
        hooks:
              - id: codespell
                exclude: |
                  (?x)^(
                    .*test.*|
                    ^CHANGELOG.md$|
                  )
      - repo: https://github.com/pre-commit/mirrors-mypy
        rev: 'v0.991'
        hooks:
              - id: mypy
                additional_dependencies: [types-cachetools]
                args: ["--module=dask_cuda", "--ignore-missing-imports"]
                pass_filenames: false
      - repo: https://github.com/rapidsai/pre-commit-hooks
        rev: v0.6.0
        hooks:
            - id: verify-copyright
            - id: verify-alpha-spec
              args: ["--fix", "--mode=release"]
      - repo: https://github.com/rapidsai/dependency-file-generator
        rev: v1.17.1
        hooks:
            - id: rapids-dependency-file-generator
              args: ["--clean"]
      - repo: https://github.com/shellcheck-py/shellcheck-py
        rev: v0.10.0.1
        hooks:
          - id: shellcheck
            args: ["--severity=warning"]
            files: ^ci/

default_language_version:
      python: python3
