# SPDX-FileCopyrightText: Copyright (c) 2019-2025, NVIDIA CORPORATION. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

repos:
      - repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v6.0.0
        hooks:
              - id: trailing-whitespace
              - id: end-of-file-fixer
      - repo: https://github.com/astral-sh/ruff-pre-commit
        rev: v0.14.4
        hooks:
          - id: ruff-check
            args: [--fix]
          - id: ruff-format
      - repo: https://github.com/codespell-project/codespell
        rev: v2.4.1
        hooks:
              - id: codespell
                exclude: |
                  (?x)^(
                    .*test.*|
                    ^CHANGELOG.md$|
                  )
      - repo: https://github.com/pre-commit/mirrors-mypy
        rev: 'v1.18.2'
        hooks:
              - id: mypy
                additional_dependencies: [types-cachetools]
                args: ["--module=dask_cuda", "--ignore-missing-imports"]
                pass_filenames: false
      - repo: https://github.com/rapidsai/pre-commit-hooks
        rev: v1.2.1
        hooks:
            - id: verify-alpha-spec
            - id: verify-copyright
              args: [--fix, --spdx]
              files: |
                (?x)
                  [.](cmake|cpp|cu|cuh|h|hpp|sh|pxd|py|pyx|rs|java)$|
                  CMakeLists[.]txt$|
                  CMakeLists_standalone[.]txt$|
                  meta[.]yaml$|
                  pyproject[.]toml$|
                  setup[.]cfg$|
                  recipe[.]yaml$|
                  ^[.]pre-commit-config[.]yaml$|
                  dependencies[.]yaml$|
                  pytest[.]ini$|
                  Makefile$|
                  [.]flake8$
      - repo: https://github.com/rapidsai/dependency-file-generator
        rev: v1.20.0
        hooks:
            - id: rapids-dependency-file-generator
              args: ["--clean", "--warn-all", "--strict"]
      - repo: https://github.com/shellcheck-py/shellcheck-py
        rev: v0.11.0.1
        hooks:
          - id: shellcheck

default_language_version:
      python: python3
